name: Build GDExtension
on:
  workflow_call:
  push:
  pull_request:
  merge_group:

env:
  LIBNAME: godot-motion-matching

concurrency:
  group: build-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          # Single precision - debug
          - platform: linux
            float-precision: single
            arch: x86_64
            target-type: template_debug
            os: ubuntu-22.04
          - platform: windows
            float-precision: single
            arch: x86_32
            target-type: template_debug
            os: windows-latest
          - platform: windows
            float-precision: single
            arch: x86_64
            target-type: template_debug
            os: windows-latest
          - platform: macos
            float-precision: single
            arch: universal
            target-type: template_debug
            os: macos-latest
          - platform: android
            float-precision: single
            arch: arm64
            target-type: template_debug
            os: ubuntu-22.04
          - platform: android
            float-precision: single
            arch: arm32
            target-type: template_debug
            os: ubuntu-22.04
          - platform: android
            float-precision: single
            arch: x86_64
            target-type: template_debug
            os: ubuntu-22.04
          - platform: android
            float-precision: single
            arch: x86_32
            target-type: template_debug
            os: ubuntu-22.04
          - platform: ios
            float-precision: single
            arch: arm64
            target-type: template_debug
            os: macos-latest
          - platform: web
            float-precision: single
            arch: wasm32
            target-type: template_debug
            os: ubuntu-22.04

          # Single precision - release (Linux only; uncomment more as needed)
          - platform: linux
            float-precision: single
            arch: x86_64
            target-type: template_release
            os: ubuntu-22.04

          # Double precision - debug
          - platform: linux
            float-precision: double
            arch: x86_64
            target-type: template_debug
            os: ubuntu-22.04
          - platform: windows
            float-precision: double
            arch: x86_32
            target-type: template_debug
            os: windows-latest
          - platform: windows
            float-precision: double
            arch: x86_64
            target-type: template_debug
            os: windows-latest
          - platform: macos
            float-precision: double
            arch: universal
            target-type: template_debug
            os: macos-latest
          - platform: android
            float-precision: double
            arch: arm64
            target-type: template_debug
            os: ubuntu-22.04
          - platform: android
            float-precision: double
            arch: arm32
            target-type: template_debug
            os: ubuntu-22.04
          - platform: android
            float-precision: double
            arch: x86_64
            target-type: template_debug
            os: ubuntu-22.04
          - platform: android
            float-precision: double
            arch: x86_32
            target-type: template_debug
            os: ubuntu-22.04
          - platform: ios
            float-precision: double
            arch: arm64
            target-type: template_debug
            os: macos-latest
          - platform: web
            float-precision: double
            arch: wasm32
            target-type: template_debug
            os: ubuntu-22.04

          # Double precision - release (Linux only)
          - platform: linux
            float-precision: double
            arch: x86_64
            target-type: template_release
            os: ubuntu-22.04

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build GDExtension
        uses: ./.github/actions/build
        with:
          platform: ${{ matrix.platform }}
          arch: ${{ matrix.arch }}
          float-precision: ${{ matrix.float-precision }}
          build-target-type: ${{ matrix.target-type }}

      - name: Mac Sign
        if: matrix.platform == 'macos' && env.APPLE_CERT_BASE64
        env:
          APPLE_CERT_BASE64: ${{ secrets.APPLE_CERT_BASE64 }}
        uses: ./.github/actions/sign
        with:
          FRAMEWORK_PATH: bin/macos/macos.framework
          APPLE_CERT_BASE64: ${{ secrets.APPLE_CERT_BASE64 }}
          APPLE_CERT_PASSWORD: ${{ secrets.APPLE_CERT_PASSWORD }}
          APPLE_DEV_PASSWORD: ${{ secrets.APPLE_DEV_PASSWORD }}
          APPLE_DEV_ID: ${{ secrets.APPLE_DEV_ID }}
          APPLE_DEV_TEAM_ID: ${{ secrets.APPLE_DEV_TEAM_ID }}
          APPLE_DEV_APP_ID: ${{ secrets.APPLE_DEV_APP_ID }}

      - name: Windows - Delete compilation files
        if: matrix.platform == 'windows'
        shell: pwsh
        run: |
          Remove-Item bin/* -Include *.exp,*.lib,*.pdb -Force -ErrorAction SilentlyContinue

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: godot-cpp-template-${{ matrix.platform }}-${{ matrix.arch }}-${{ matrix.float-precision }}-${{ matrix.target-type }}
          path: ${{ github.workspace }}/bin/**

  merge:
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: godot-cpp-template
          pattern: godot-cpp-template-*
          delete-merged: true
